@page "/Estudiantes/Index/Create"

@rendermode InteractiveServer

@inject EstudianteService estudiantesService
@inject NavigationManager navigationManager

<PageTitle>Crear Estudiante</PageTitle>


<div class="container w-75 mt-4">
    <div class="card shadow-lg border-0">
        <div class="card-header d-flex justify-content-between align-items-center bg-light">
            <h5 class="card-title">Crear Estudiante</h5>
        </div>
        <EditForm Model="@estudiante" OnValidSubmit="Crear">
            <DataAnnotationsValidator />
            <div class="card-body d-flex flex-column gap-3 ">
                <div class="justify-content-start">
                    <label>Nombre completo: </label>
                    <InputText id="inputNombre" class="form-control "
                               @bind-Value="estudiante.Nombres"
                               placeholder="Ingrese el nombre del estudiante..." />
                    <ValidationMessage For="@(() => estudiante.Nombres)" />
                </div>
                <div class="justify-content-start">
                    <label>Direccion de correo: </label>
                    <InputText id="inputEmail" class="form-control"
                               @bind-Value="estudiante.Email"
                               placeholder="Ingrese el correo electronico del estudiante..." />
                    <ValidationMessage For="@(() => estudiante.Email)" />
                </div>
                <div class="justify-content-start">
                    <label>Edad: </label>
                    <InputNumber step="1" id="inputEdad" class="form-control"
                               @bind-Value="estudiante.Edad"
                               placeholder="Ingrese la edad actual del estudiante..." />
                    <ValidationMessage For="@(() => estudiante.Edad)" />
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center gap-2">
                <a href="/Estudiantes/Index" class="btn btn-secondary">
                    <span class="bi bi-arrow-left me-2"></span> Volver
                </a>
                <button type="submit" class="btn btn-primary bi bi-save me-2"> Guardar </button>
            </div>
        </EditForm>
        
    </div>
</div>

@code {

    Estudiantes estudiante = new Estudiantes();

    private async Task Crear()
    {
        await estudiantesService.Guardar(estudiante);
        Console.WriteLine("Creando estudiante...");

        navigationManager.NavigateTo("/Estudiantes/Index");
    }
}
