@page "/"

<PageTitle>Home</PageTitle>

<h1>Registro estudiantil</h1>

Bienvenido al sistema de gestion de estudiantes. 
Utilice la barra de navegacion para acceder a las diferentes secciones de la aplicacion.
